.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #666666;
  cursor: pointer;
}

.reactIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: #7b32a8;
}
